<header>
  <p>Plan Formation</p>
</header>

<ul>
  <li>Présentation</li>
  <ul>
    <li>Syntawe Angular (mvvm ou mwm)</li>
    <li>One way Data Binding (Component <=> Template)</li>
    <li>Two way Data Binding</li>
    <li>Variable Template</li>
    <li>Les ngModels</li>
  </ul>
  <li>Navigation (Part 1)</li>
  <li>Template (vue)</li>
  <ul>
    <li>Pipes</li>
    <li>Locales</li>
    <li>Directives</li>
  </ul>
  <li>Pipes Personalisés</li>
  <li>Directives Personalisées</li>
  <li>Formulaires</li>
  <ul>
    <li>Templates driven forms</li>
    <li>Reactives forms</li>
    <li>Validateurs</li>
    <li>Validateurs personalisés</li>
  </ul>

  <li>Services</li>
  <li>Promise / Observer / async/await</li>
  <li>Navigation (Part 2)</li>
  <ul>
    <li>Paramètres d'url</li>
    <li>Guard</li>
  </ul>
  <li>HttpClient (xhr)</li>
  <li>Tests Unitaires & EndToEnd</li>
  <li>Publier le projet</li>
</ul>
