<hr />
<header>
  <h2>Directive Perso</h2>
</header>

<p appHighlight>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dignissimos dolorum,
  illo itaque minima nisi perferendis qui sit. Dicta facere id officiis totam velit?
  Consequuntur eligendi excepturi omnis suscipit veniam.</p>
<hr />

<p [appHighlight]=" 'red' ">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dignissimos dolorum,
  illo itaque minima nisi perferendis qui sit. Dicta facere id officiis totam velit?
  Consequuntur eligendi excepturi omnis suscipit veniam.</p>
<hr />

<!-- A mettre avec des crochets obligatoirement si on a à transmettre un paramètre -->
<p [appHighlight]=" 'red' " color="blue">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dignissimos dolorum,
  illo itaque minima nisi perferendis qui sit. Dicta facere id officiis totam velit?
  Consequuntur eligendi excepturi omnis suscipit veniam.</p>
<hr />
